<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- alpaca -->
<link type="text/css" href="http://code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet"/>
<script type="text/javascript" src="http://code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>
</head><body>
<div class='row'>
<div class='col-md-1'></div>
<div class='col-md-10'>
<div class='row'>
<div class='col-md-3'><img alt='UiPath Logo' width='150' src='https://www.uipath.com/hubfs/Valentin/Brand-Kit/logos/UiPath-full-logo.svg'/></div>
<div class='col-md-9'><ul class='nav nav-pills'>
  <li class='active btn-lg'><a data-toggle='pill' href='#form0'>Template Form</a></li>
</ul></div>
</div>
<hr size='5' />
<div class='tab-content'>
<div id='form0' class='tab-pane fade in active'>
<h2>Template Form</h2>
<div id='form0'></div>
<script type="text/javascript">
$("#form0").alpaca(
{
  "schema": {
    "title": "Template Form",
    "type": "object",
    "properties": {}
  },
  "options": {
    "fields": {},
    "form": {
      "buttons": {
        "Submit": {
          "title": "Submit",
          "click": function() {
                      this.refreshValidationState(true);
                      if (this.isValid(true)) {
                          var value = this.getValue();
       if (typeof (window.external) !== 'undefined' && ('setResult' in window.external)) {
      window.external.setResult(JSON.stringify(value, null, "  "));
       }
       else {
        alert(JSON.stringify(value, null, "  "));
       }
                       }
                  },
          "styles": "btn btn-primary btn-lg"
        }
      }
    }
  },
  "view": {
    "layout": {
      "bindings": {},
      "template": "<div class='row'><div class='col-md-6' id='column-1'></div><div class='col-md-6' id='column-2'></div></div>"
    },
    "parent": "bootstrap-edit"
  }
}
);
</script>
</div>
</div>
<div Class='col-md-1'></div>
<h3>This form is powered by <a href='http://www.uipath.com' target='_blank'>Uipath</a></h3>
</div>
</div>
</body>
</html>